<% @products.each do |p| %>
   <p><%= p.name %></p>
   <p><%= truncate(p.description) %> </p>
   <p id="description-<%=p.id%>"> 
   <button class="js-more" data-id="<%= p.id %>" id="More Info">More Info</button>
   </p>
<% end %>

<script type="text/javascript" charset="utf-8">
   $(function () {
      $(".js-more").on('click', function() {
         var id = $(this).data("id")
         $.get(`/products/${id}/description`, function (data1) {
            $.get(`/products/${id}/inventory`, function (data2) {
               var inv = (data2 === "false" ? "Sold Out" : "Available")
               var output = `<p>${data1} </p>` + inv
               $(`#description-${id}`).html(output)
               console.log(output)
            })
         })
      })
   })
</script>